In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('DATA_FILES/bike_sharing_daily.csv')
df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,hum,windspeed,casual,registered,cnt
0,1,1/1/2011,1,0,1,0,6,0,2,0.344167,0.805833,0.160446,331,654,985
1,2,1/2/2011,1,0,1,0,0,0,2,0.363478,0.696087,0.248539,131,670,801
2,3,1/3/2011,1,0,1,0,1,1,1,0.196364,0.437273,0.248309,120,1229,1349
3,4,1/4/2011,1,0,1,0,2,1,1,0.200000,0.590435,0.160296,108,1454,1562
4,5,1/5/2011,1,0,1,0,3,1,1,0.226957,0.436957,0.186900,82,1518,1600

In [3]:
df = df.drop(['instant','casual','registered'],axis = 1)

In [4]:
df.index = pd.DatetimeIndex(df.dteday)

In [5]:
df = df.drop('dteday',axis=1)

In [6]:
# from sklearn.models import OneHotEncoder
from sklearn.preprocessing import OneHotEncoder

In [19]:
import sklearn

ModuleNotFoundError: No module named 'sklearn'